<% var first = site.posts.sort("date", "desc").eq(0); %>
<% var screenpage; %>
<% site.pages.forEach(function(page){ %>
	<%  if (page.source.indexOf(theme.menu.ABOUUTME) != -1) { %>
		<% screenpage = page; %>
	<% } %>
<% }) %>
<div id="screen">
    <div id="mark">
        <div class="layer" data-depth="0.4">
            <%- image_tag(theme.welcome_cover || (screenpage?screenpage.cover:first.cover) || "/img/welcome-cover.jpg", {id: "cover", crossorigin: "anonymous", width: 700, height: 525}) %>
        </div>
    </div>
    <div id="vibrant">
        <svg viewBox="0 0 2880 1620" height="100%" preserveAspectRatio="xMaxYMax slice">
            <polygon opacity="0.7" points="2000,1620 0,1620 0,0 600,0 "/>
        </svg>
        <div></div>
    </div>
    <div id="header">
        <div>
            <a class="image-logo" href="/"></a>
            <div class="icon-menu switchmenu"></div>
        </div>
    </div>
    <% if ( screenpage ) { %>
	<div id="post0">
		<h2><%- link_to(screenpage.path, screenpage.title || config.title, {class: "posttitle"}) %></h2>
		<p class="summary"><%- truncate(strip_html(screenpage.content), {length: 60, omission: '...'}) %></p>
	</div>
    <% } else if ( first ) { %>
    <div id="post0">
        <p><%- first.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h2><%- link_to(first.path, first.title || config.title, {class: "posttitle"}) %></h2>
        <p class="summary"><%- truncate(strip_html(first.content), {length: 60, omission: '...'}) %></p>
    </div>
    <% } %>
</div>
